body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-rendering: geometricPrecision !important;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  background: #fcfdff;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #7795f8;
}

.buffer {
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 0px auto;
  padding: 150px;
  color: #151b2d;
}

.error {
  font-size: 0.8em;
  color: #ff4081;
}

.load {
  font-size: 0.8em;
  animation: Blink infinite 1s ease-in-out;
}

@keyframes Blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #7795f8;
  position: fixed;
  z-index: 2031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #7795f8, 0 0 5px #7795f8;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}
